*{margin: 0; padding: 0;}

.facenhe3:hover a.btn.btn-outline-info.xem {
    opacity: 1;
}

.facenhe2:hover a.btn.btn-outline-info.xem {
    opacity: 1;
}

.facenhe1:hover a.btn.btn-outline-info.xem {
    opacity: 1;
}

.donglai {
    opacity: 0;
    visibility: hidden;
    transition:0.4s;
}
html,body {
    width: 100%;
    height: 100%;
}

.nenden {
    background: rgba(50, 50, 50, 0.66);
    width: 100%;
    height: 2000px;
    position: absolute;
    z-index: 4;
}

.dong {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

img {
}

a.btn.btn-outline-info.nuthihi2 {
    color: #767676!important;
    border-color: #767676;
    position: absolute;
    right: 77px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    bottom: 133px;
}

span {
    color: #db4f44;
    font-size: 14px;
}

.for {
    font-family: roboto;
    font-weight: bold;
    font-size: 14px;
    margin-left: 505px;
    margin-top: 50px;
}

.for {}

p.al {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-left: 100px;
    margin-top: 33px;
    margin-bottom: 30px;
}

img.pass {
    background: transparent;
    padding: 14px 207px 14px 50px;
    border-radius: 4px;
    margin-left: 100px;
    border: 1px solid #767676;
}
img.your {
    background: transparent;
    padding: 14px 207px 14px 50px;
    border-radius: 4px;
    border: 1px solid #767676;
}

img.withfb {
    position: absolute;
    left: 255px;
    top: 359px;
}
img.withtw {
    position: absolute;
    right: 150px;
    top: 359px;
}



p.lor {
    font-family: roboto;
    font-size: 12px;
    width: 800px;
    margin-left: 100px;
    margin-top: 22px;
    margin-bottom: 26px;
}

.sing {
    font-family: alice;
    font-size: 32px;
    margin-top: 77px;
}

.sing {
    margin-left: 100px;
}

img.logo2 {
    width: 200px;
    margin: auto;
    margin-left: 363px;
    margin-top: 30px;
}

img.logo {
    \: \;
    left:;
}

.login {
    width: 980px;
    height: 750px;
    background: white;
    position: relative;
    position: absolute;
    left: 50%;
    margin-left: -490px;
    z-index: 9;
    top: 100px;
}

img.logintw {
    padding-right: 299px;
    background: #2daae2;
    border: 1 solid gray;
    border-radius: 5px;
}

img.loginfb {
    background: #3b589e;
    padding-right: 299px;
    border: 1px solid gray;
    margin-left: 100px;
    border-radius: 2px;
}

.row.cangiua {
    margin-bottom: 52px;
}

a.btn.btn-outline-info.xem {
    margin-top: 28px;
    border-color: white;
    color: white;
    opacity: 0;
    transition: 0.4s;
}

.mem {
    font-family: roboto;
    font-size: 14px;
    color: #a3a3a3;
    padding-top: 14px;
}

img.facehi {
    padding-top: 15px;
}

img.face {
    display: block;
    margin: auto;
    padding-top: 32px;
}

.facenhe {
    width: 100%;
    height: 249px;
    background: #3c5a9a;
    border-radius: 2px;
    margin-bottom: 27px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.21);
}

.facenhe:hover a.btn.btn-outline-info.xem {
    opacity: 1;
}

.facenhe:hover .xem {
    opacity: 1;
    visibility: visible;
}
.facenhe1 {
    width: 100%;
    height: 249px;
    background-image: url(images/gra.png);
    border-radius: 2px;
    margin-bottom: 27px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.21);
}
.facenhe2 {
    width: 100%;
    height: 249px;
    background: #cd1f28;
    border-radius: 2px;
    margin-bottom: 27px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.21);
}
.facenhe3 {
    width: 100%;
    height: 249px;
    background: #dd4b39;
    border-radius: 2px;
    margin-bottom: 27px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.21);
}

.col-sm-6.kakaka {
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.21);
    margin-bottom: 50px;
}

.col-sm-6.kakaka {
    height: 524px;
}

.com {
}

p.ct {
    font-size: 11px;
    color: #767676;
}

.ten {
    font-family: alice;
    font-size: 12px;
    color: #333333;
    margin-top: 41px;
}

img.anh5 {
    width: 110px;
    margin-top: 26px;
    height: 100px;
}

a.btn.btn-outline-info.nuthihi {
    margin-top: 35px;
    margin-left: 19px;
    color: white;
    border-color: brown;
}

img.twi {
    margin-top: 35px;
    margin-left: 40px;
}

img.fed {
    width: 100%;
    margin-top: 47px;
}

.row.trong6 {
    background: #2daae2;
    height: 110px;
    border-radius: 2px;
}

img.anh1 {
    margin-top: 100px;
}

h4.tdn {
    font-family: roboto;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
}

h1.td {
    font-family: 'Alice', serif;
    font-size: 32px;
    margin-top: 14px;
} 
/*CSS cho menu*/
.menutren {
    width: 100%;
    transition:0.4s;
}
.thanhmenu {
    background: #2c2c2c!important;
    color: #cbcbcb;
}
ul.nav.navbar-nav.tieudekhoi li:hover {
    border:1px solid white;
    border-radius: 2px;
}
ul.nav.navbar-nav.tieudekhoi li a:hover {
    color: white;
}
a.navbar-brand.khoilogo {
    margin-left: 73px;
    margin-right: 262px;
}
ul.nav.navbar-nav.tieudekhoi li {
    margin-top: 18px;
    padding: 3px 10px;
    transition:0.4s;
    border: 1px solid transparent;
}
ul.nav.navbar-nav.tieudekhoi li a {
    color: #cbcbcb;
    font-family: 'Alice', serif;
    font-size: 14px;
}


.icontren i {
    margin-right: 15px;
}

.signup {
    float: left;
    margin-right: 27px;
    font-family: alice;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    border-radius: 2px;
    border: 1px solid transparent;
    transition: 0.4s;
    margin-top: 18px;
    cursor: pointer;
   
}

.signup:hover {
    border: 1px solid gray;
}

.signin {
    float: left;
    margin-right: 27px;
    font-family: alice;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    border-radius: 2px;
    border: 1px solid transparent;
    transition: 0.4s;
    margin-top: 18px;
    cursor: pointer;
}

.signin:hover {
    border: 1px solid gray;
}
.iconduoi i {margin-top: 26px;margin-right: 0;}

/*het css cho menu*/



/*footer*/
.footerer{position: relative;margin-top: 160px;}
.dathang{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 50%;
    transform :translate(-50%,-50%);

    width: 790px;height: 155px;
    background-color: #DFDFDF;
}
.dathang .phantrai{
    position: absolute;z-index: 101;

    height: 155px;
    width: 192px;
    background-color: #333333;
    padding-left: 25px;
    padding-top: 13px;
}

.dathang .phantrai span{
    display: block;
    font-family: 'roboto',sans-serif;
    font-size: 17px;
    color: #767676;
    font-weight: 600;
}

.dathang .phantrai span:nth-child(2){
    color:#fff;
}
.dathang .phantrai span:nth-child(3){
    color:#fff;
}

.dathang .phangiua{
    position: absolute;z-index: 101;left:192px;

    width: 386px;height: 155px;
    padding-left: 120px;
    padding-top: 35px;
    background-image: url(../images/iconphone.png);
    background-repeat: no-repeat;
    background-position: 74px 35px;

    border-right: 2px solid #767676;
}
.dathang .phangiua span{
    position: relative;top: -5px;
    color: #db4f44;
    font-family: 'roboto',sans-serif;
    font-size: 16px;
}
.dathang .phangiua h4{font-size: 21px;}
.dathang .or{
    width: 16px;
    height: 16px;

    position: absolute;
    left: 577px;top: 50%;
    transform:translate(-50%,-50%);

    background-color: #767676;
    border-radius: 50%;
    text-align: center;
}
.dathang .or p{color:white;font-size: 10px;}

.dathang .phanphai{
    width: 212px;
    height: 155px;
    position: absolute;z-index: 101;
    left: 577px;
}
.dathang .phanphai .button{ 
    width: 110px;height: 35px;

    position: absolute;
    left: 50%;top: 50%;
    transform:translate(-50%,-50%);
    font-size: 12px;
}


#map{
    width: 100%;
    height: 462px;
    background-color: darkviolet;
}


.footer {
    width: 100%;
    height: 278px;
    background: #222222;
    margin: auto;
    padding-top: 40px;
    color:#767676;
}
.cus {
    font-family: alice;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
    color: #c5c5c5;
}
.duoi-3 {
    height: 23px;
    margin-top: 10px;
    color: #767676;
}
.duoi-3 i.fa{
    float: left;
    font-size: 23px;
    margin-right: 13px;
    color: brown;
}

.iconfoot {
    position: relative;
    left: 50%;
    transform:translateX(-20%);
    color: #c5c5c5;
}

.iconfoot li {
    float: left;
    margin-left: 5px;
    list-style: none;
}

.spa{color: #c5c5c5;font-family: 'alice',serif;font-size: 12px;}

.ent{    font-size: 16px;
    margin-bottom: 16px;}
.bottomlefty{padding-right: 0;}
.bottomlefty .button{font-size: 12px;padding-top: 10px;}